@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .card {
      background-color: theme('colors.white');
      border-radius: theme('borderRadius.lg');
      padding: theme('spacing.6');
      box-shadow: theme('boxShadow.xl');
    }
    /* ... */
    .inner-card{
        background-color: aqua;
        padding: 10px;
        box-sizing: border-box;
        text-align: justify;
        border: 4px dotted rgba(66, 58, 66, 0.699);

    }

    .shimmer-container{
        display: flex;
        flex-wrap: wrap;
    }
    
    .shimmer{
        margin: 20px;
        width: 200px;
        height: 400px;
        background-color: rgba(66, 58, 66, 0.699);
    }  
  }